# Packages
node_modules

# Compiled files
lib

# Optional npm cache directory
.npm

# Logs
npm-debug.log

# Optional eslint cache
.eslintcache

# Files of coverage reporters
.nyc_output

# Env vars
.env
